<div ng-show="showCategoryBlock" class="openDiv imgNtext visionDiv categoryHover">
    <a  ng-click="closeCategory()" class="back-btn"></a>
    <div ng-if="sideCategory.img" class="top" ng-attr-style="{{sideCategory.img ? 'background-image: url(' + mediaUrl + sideCategory.img + ');' : ''}}">
    </div>
    <div scrollbar="{autoUpdate: true,wheelSpeed : 20}" style="max-height: 100%" class="bottom {{sideCategory.img ? 'img' : 'noImg'}}" >
        <div class="inner-b">
            <span class="inner-title">{{sideCategory.title}}</span>
            <p class="inner-text" ng-if="sideCategory.content" ng-bind-html="sideCategory.content | rawHtml"></p>
        </div>
    </div>
    <!--a class="gold-btn" href="#">Visit our website</a-->
</div>