<div>
    <div ng-show="showCategorySearchBlock" ng-class="showCategorySearchBlock ? 'collapsed' : ''" class="filterResault">
        <a ng-href="{{backUrl}}" ng-if="backUrl" class="back-btn"></a>
        <span class="slogen">{{selectedSlogan}}</span>
        <div class="frButtons" ng-show="showCategoriesSearchBlockList">
            <a ng-click="showCategoriesSearchList()" ng-class="showCategoriesSearchBlockList ? 'active' : ''" class="filter-i">
                <span class="filterTooltip frButtonsTooltip">Switch to list view</span>
            </a>
            <a class="filter-i-hover"></a>
            <a class="mapNav-i-hover"></a>
            <a ng-click="showCategoriesSearchMap();" ng-class="showCategoriesSearchBlockMap ? 'active' : ''" class="mapNav-i">
                <span class="mapNavTooltip frButtonsTooltip">Switch to map view</span>
            </a>
        </div>
    </div>

    <div ng-class="showCategorySearchBlock && showCategoriesSearchBlockList ? 'collapsed' : ''" ng-show="showCategorySearchBlock && showCategoriesSearchBlockList" class="filter_search_result">
        <div class="innerSpinner spinner" ng-hide="showCategoriesSearchBlockMap || category_search_result">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <span class="ts-title">Search by categorie {{currentItem.title}}</span>
        <div class="results-list" scrollbar="{autoUpdate: true,wheelSpeed : 20, reFetchOnScroll:true, fetchType: 'searchInCategory'}" nextUrl="{{offsetCount}}" style="max-height: 100%;width: 429px">
            <div ng-repeat="(k, v) in category_search_result" class="text-separator">
                <div class="sm-imgText">
                    <img ng-src="{{v.featured_image ? mediaUrl + v.featured_image : mediaUrl + currentItem.featuredImageUrl }}" />
                    <div class="inner-smi">
                        <span class="smi-title">{{v.title}}</span>
                        <p  ng-if="v.content" ng-bind-html="v.content | rawHtml" class="smi-text"></p>
                        <div class="more-info-div">
                            <a class="more-info" ng-href="{{'#/' + currentItem.id + '-' + v.id + '/' + currentItem.title + '/' + v.name + '/fromSearch-' + keywords.keywords}}" ng-click="closeCategories()">
                                <img class="crown-i" ng-if="v.score >= 1" src="images/icons/crown.png" />
                                More Info
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a ng-show="v.address_location_g != '' && v.address_location_k != '' && v.address_location_g != null && v.address_location_k != null" ng-href="{{'#/' + currentItem.id + '-' + v.id + '/map/' + currentItem.title + '/' + v.name + '/fromSearch-' + keywords.keywords}}" class="view-map">
                    <div></div>
                    <span>Afficher sur la carte</span>
                </a>
            </div>
            <div ng-show="fetchMoreStarted" style="position: relative;width:auto;height: 100px">
                <div class="innerSpinner spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-class="showCategorySearchBlock && showCategoriesSearchBlockMap ? 'collapsed' : ''" ng-if="showCategorySearchBlock && showCategoriesSearchBlockMap" class="filter_search_result map" style="width: 1178px;min-height: 955px;">
        <div class="frButtons active">
            <a ng-click="showCategoriesSearchList()" ng-class="showCategoriesSearchBlockList ? 'active' : ''" class="filter-i">
                <span class="filterTooltip frButtonsTooltip">Switch to list view</span>
            </a>
            <a class="filter-i-hover"></a>
            <a class="mapNav-i-hover"></a>
            <a ng-click="showCategoriesSearchMap();" ng-class="showCategoriesSearchBlockMap ? 'active' : ''" class="mapNav-i">
                <span class="mapNavTooltip frButtonsTooltip">Switch to map view</span>
            </a>
        </div>

        <div id="mapFrame">
            <div class="innerSpinner spinner" ng-hide="categoryMapItemsLoaded">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <category-map ng-if="showCategorySearchBlock"></category-map>
        </div>
    </div>
</div>