<div class="item_info" ng-class="sideObject.content_image ? 'item_info_img' : ''" ng-show="showObjectBlock" style="overflow-y: initial;">
    <div ng-scrollbar style="max-height: 100%;" rebuild-on="rebuild:me" >
        <a ng-click="back()" class="back-t">Back to list view</a>
        <a href="#" class="close-btn"></a>
        <div class="ii-top" ng-attr-style="{{ sideObject.content_image ? 'background-image: url(' + sideObject.content_image + ');' : ''}}">
            <div class="img-top-titles">
                <span class="inner-title">{{ sideObject.title }}</span>
                <span class="profession">{{ sideObject.occupation }}</span>
            </div>
        </div>
        <style>
            .ngsb-wrap {
                -ms-touch-action: none
            }

            .ngsb-wrap .ngsb-container {
                width: auto;
                overflow: hidden;
                transition: .5s all
            }

            .ngsb-wrap:hover .ngsb-scrollbar {
                opacity: 1;
                filter: "alpha(opacity=100)";
                -ms-filter: "alpha(opacity=100)"
            }

            .ngsb-wrap .ngsb-scrollbar {
                width: 7px;
                height: 100%;
                top: 0;
                left: 0;
                opacity: .75;
                filter: "alpha(opacity=75)";
                -ms-filter: "alpha(opacity=75)"
            }

            .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height: auto
            }

            .ngsb-wrap .ngsb-scrollbar a.ngsb-thumb-container {
                margin: 20px 0
            }

            .ngsb-wrap .ngsb-scrollbar .ngsb-track {
                height: 100%;
                margin: 0 auto;
                width: 7px;
                background: transparent;
                filter: "alpha(opacity=40)";
                -ms-filter: "alpha(opacity=40)";
                box-shadow: 1px 1px 1px rgba(255, 255, 255, .1)
            }

            .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos {
                cursor: pointer;
                width: 100%;
                height: 30px
            }

            .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
                transition: .5s all;
                width: 7px;
                height: 100%;
                margin: 0 auto;
                text-align: center;
                background: rgba(128, 128, 128, 0.45);
            }

            .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:hover .ngsb-thumb {
                background: rgba(128, 128, 128, 0.6);
                filter: "alpha(opacity=50)";
                -ms-filter: "alpha(opacity=50)"
            }

            .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
                background: rgba(128, 128, 128, 0.6);
                filter: "alpha(opacity=60)";
                -ms-filter: "alpha(opacity=60)"
            }
        </style>
        <div class="ii-content">
            <div class="text-separator first">
                <a class="map-btn" href="#"><img src="images/icons/big-gold-map-nav.png" /></a>
                <div class="clearfix"></div>
                <div class="i-contact-info">
                    <div class="info-title"></div>
                    <table>
                        <tr>
                            <td class="ii-text first">{{ sideObject.phone }}</td>
                            <td class="ii-text second">{{ sideObject.address_street + ' ' + sideObject.address_city }}</td>
                        </tr>
                        <tr>
                            <td class="ii-text first">{{ sideObject.email }}</td>
                            <td class="ii-text second">{{ sideObject.french_speakers }}</td>
                        </tr>
                    </table>
                </div>
                <div class="i-more-info">
                    <!--
                    <div class="info-title more"></div>
                    <div class="row">
                        <span class="ii-text">$$$</span>
                    </div>
                    <table>
                        <tr>
                            <td class="ii-text">Mon-Thu</td>
                            <td class="ii-text second">10:00-19:00</td>
                        </tr>
                        <tr>
                            <td class="ii-text">Fri</td>
                            <td class="ii-text second">10:30-13:00</td>
                        </tr>
                    </table>
                    -->
                </div>
            </div>
            <div class="text-separator">
                <!--
                <table class="item-services">
                    <tr>
                        <th class="first-col"></th>
                        <th class="middle-col">Title A</th>
                        <th class="middle-col">Title B</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>parking</td>
                        <td><span class="bullet"></span></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>livraison</td>
                        <td></td>
                        <td><span class="bullet"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Koupat Holim</td>
                        <td><span class="bullet"></span></td>
                        <td><span class="bullet"></span></td>
                        <td></td>
                    </tr>
                </table>
                -->
                <p ng-bind-html="sideObject.content | rawHtml"></p>
                <p ng-repeat="(k,v) in a track by $index">
                    asda-{{k}}<br>
                </p>
            </div>
        </div>
    </div>
</div>