<div ng-if="pageBlock" class="pageBlock">
    <div ng-switch="currentPage">
        <div ng-switch-when="contact" ng-class="pageBlock && currentPage == 'contact' ? 'collapsed' : ''" class="contactUs">
            <div scrollbar="{autoUpdate: true,wheelSpeed : 20}" style="max-height: 100%;width: 542px;">
                <div class="inner">
                    <a href="#/" class="back-btn black-b"></a>
                    <span class="inner-title">{{pageContent.title}}</span>
                    <p class="inner-text" ng-bind-html="pageContent.content | rawHtml"></p>
                    <div class="success" ng-show="success">
                        {{successText}}
                    </div>
                    <form ng-hide="success" name="contactForm" novalidate valdr-type="Contact">
                        <div valdr-form-group>
                            <input
                                type="text"
                                placeholder="Nom"
                                ng-model="contact.name"
                                name="name"/>

                        </div>
                        <div valdr-form-group>
                            <input
                                type="text"
                                placeholder="Téléphone"
                                ng-model="contact.phone"
                                name="phone"/>
                        </div>
                        <div valdr-form-group>
                            <input
                                type="text"
                                placeholder="E-mail"
                                ng-model="contact.email"
                                name="email"/>
                        </div>
                        <div valdr-form-group>
                            <select
                                ng-model="contact.reason"
                                name="reason"
                                id="reason"
                                ng-options="v.crm_id as v.content for v in pageContent.form.reasons">
                                <option value="">L'objet de votre message</option>
                            </select>
                        </div>
                        <div valdr-form-group>
                            <textarea
                                ng-model="contact.message"
                                name="message"
                                placeholder="Message"></textarea>
                        </div>
                        <div class="error" ng-if="!success && error">
                            {{error}}
                        </div>
                        <input type="submit" class="gold-btn" ng-click="validate(contactForm)" value="Envoyé" />
                        <span class="error-txt" ng-show="notValid">Un champ du formulaire est vide ou incorrect.</span>

                    </form>
                </div>
            </div>
        </div>
        <div ng-switch-when="recommended" ng-class="pageBlock && currentPage == 'recommended' ? 'collapsed' : ''" class="recommendedDiv imgNtext rd2">
            <div scrollbar="{autoUpdate: true,wheelSpeed : 20}" style="max-height: 100%;width: 542px;height: 855px;">
                <div>
                    <a href="#/" class="back-btn"></a>
                    <div class="top-no-img">
                        <span class="inner-title">{{pageContent.title}}</span>
                        <p class="inner-text" ng-bind-html="pageContent.subTitle | rawHtml"></p>
                    </div>
                    <div class="bottom">
                        <div class="inner-b">
                            <div class="text-separator" ng-repeat="item in pageContent.items">
                                <div class="sm-imgText" ng-if="item.img">
                                    <img ng-src="{{'images/small-images/' + item.img}}" />
                                    <div class="inner-smi">
                                        <span class="smi-title">{{item.title}}</span>
                                        <p class="smi-text" ng-bind-html="item.content | rawHtml"></p>
                                        <div class="more-info-div">
                                            <a class="more-info" ng-href="{{item.url}}">More Info</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div ng-if="!item.img">
                                    <span class="ts-title">{{item.title}}</span>
                                    <p class="inner-text" ng-bind-html="item.content | rawHtml"></p>
                                    <div class="more-info-div">
                                        <a class="more-info" ng-href="{{item.url}}">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="24news" ng-class="pageBlock && currentPage == '24news' ? 'collapsed' : ''" class="channel24 visionDiv imgNtext rd2">
            <a href="#/" class="back-btn"></a>
            <div class="top" lazy-img="{{pageContent.img ? '/Jini3/images/'+ pageContent.img : ''}}" ng-if="pageContent.img" >
                <!--  ng-attr-style="{{pageContent.img ? 'background-image:url(/Jini3/images/'+ pageContent.img +')' : ''}}" -->
            </div>
            <div class="bottom">
                <div class="inner-b" scrollbar="{autoUpdate: true,wheelSpeed : 20}" style="max-height: 100%;padding: 20px;">
                    <div ng-repeat="item in pageContent.items">
                        <span class="inner-title">{{item.title}}</span>
                        <p class="inner-text" ng-bind-html="item.content | rawHtml"></p>
                        <a class="black-btn" ng-href="{{item.url}}" target="_blank">Visiter le site web</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-default ng-class="pageBlock ? 'collapsed' : ''" class="imgNtext visionDiv">
            <a href="#/" class="back-btn"></a>
            <div class="top" lazy-img="{{pageContent.img ? '/Jini3/images/'+ pageContent.img : ''}}" ng-if="pageContent.img" >
                <!--  ng-attr-style="{{pageContent.img ? 'background-image:url(/Jini3/images/'+ pageContent.img +')' : ''}}" -->
            </div>
            <div class="bottom">
                <div class="inner-b" scrollbar="{autoUpdate: true,wheelSpeed : 20}" style="max-height: 100%;padding: 20px;">
                    <span class="inner-title">{{pageContent.title}}</span>
                    <p class="inner-text" ng-bind-html="pageContent.content | rawHtml"></p>
                </div>
            </div>
        </div>
    </div>
</div>
